<h1 class=title>
  Archives
</h1>

<%= for post <- @posts do %>
  <div>
    <%= link post.title, to: post_url(post) %>
    <div class="tags">
      <%= for tag <- post.tags do %>
        <%= link tag, to: "/tag/#{tag}", class: "tag" %>
      <% end %>
    </div>
  </div>
<% end %>
