/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*core css*/
.container{
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3em;
  max-width: 1300px;
  margin: 0 auto;
}
main{
  border-top: solid 2px orangered;
  padding: 10px;
  color: #222;
  line-height: 1.4;
}

footer, header {
  padding: 10px;
  background-color: orangered;
  color: white;
  font-size: 1.5em;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.6em;
}
h3{
  font-size: 1.4em;
}

a {
  color: #0366d6;
  text-decoration: none;
}

header a, footer a {
  color: #222;
}

header a::before, footer a::before {
  content: '#';
}

.post{
  margin-bottom: 10px;
  padding: 5px;
}
.post h1, .post h2{
  color: #0366d6;
}
code.inline{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.tags{
  margin: 10px 0;
}
a.tag {
  border: solid;
  padding: 2px;
  border-left: solid 10px;
}

a.tag::before{
  content: '#';
}

.post + .post {
  border-top: solid orangered 2px;
}

h1.title{
  border-bottom: solid #bbb 4px;
}

pre{
  margin: 5px 0;
}

pre, code{
  font-family: 'Source Code Pro', monospace
  font-size: 400;
}
